body {
 margin: 0;
}
#main{
    width: 100%;
    height: 100%;
    background: lavender;
}
#main #head {
    background: white;
    height: 150px;
    width: 100%;
    z-index: 1;
    position: fixed;
}
#main .head-link {
    padding: 0px 0px 10px 70px;
    background: chocolate;
    z-index: 1;
    position: fixed;
    margin: 120px 0px 0px 170px;
}
.head-link a {
    margin: 0px 0px 0px 50px;
}
#head .search {
    height: 150px;
    width: 40%;
    background: white;
    float: left;
}
#head .logo {
    height: 150px;
    width: 60%;
    background: white;
    float: left;
}
.search form {
    padding: 80px 50px 50px 130px;
}
#main #body {
    background:white;
    height: 500px;
    width: 100%;

}
#body .left {
    background: lightcyan;
    height: 1000px;
    width: 10%;
    float: left;
    margin: 150px 50px 0px 0px;
    position: fixed;
}
.left p {
    background: palevioletred;
   height: 20px;
    width: 100px;
}
.left li {
    margin: 20px;
}
#body #content {
    margin: 0px 50px 0px 200px;
    top: 200px;
    position: relative;
}
#content .img1 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img1 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img2 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img2 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img3 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img3 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img4 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img4 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img5 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img5 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img6 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img6 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img7 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img7 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img8 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
}
/*.img8 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img9 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img9 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img10 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img10 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img11 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img11 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img12 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img12 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img13 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img13 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img14 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img14 a {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
#content .img15 {
    float: left;
    margin: 20px 0px 0px 50px;
    width: 20%;
    position: relative;
}
/*.img15 a {*/
/*      position: absolute;*/
/*      bottom: 0;*/
/*}*/
